.idea/
.directory
tests/axios/node_modules
lib/axios/node_modules
lib/skycoin/*.c
lib/skycoin/libskycoin.h
lib/skycoin/swig.h
lib/skycoin/build
tests/node/node_modules
lib/node/node_modules
tests/axios/npm-debug.log
tests/node/npm-debug.log
tests/fetch/npm-debug.log
lib/skyapi/node/npm-debug.log
lib/skyapi/fetch/npm-debug.log
